@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
}

body {
    background-color: #f8fbff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    outline: none;
}

textarea {
    resize: none;
    outline: none;
}

@font-face {
    font-family: 'logo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulScript-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* header */

header {
    width: 100%;
    height: 90px;
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
}

header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > a {   /* logo */
    display: flex;
    align-items: end;
    height: 45px;
    font-family: "logo";
    letter-spacing: -3px;
}

header > div > a > h3 {
    font-size: 45px;
}

header > div > a > span {
    font-size: 35px;
}

header > div > a > * {
    color: #2957ff;
}

header > div > nav {   /* header-menu */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

header > div > nav > a:hover {
    text-decoration: underline;
}

header > div > div {   /* header-login,signup */
    height: 20px;
    display: flex;
    align-items: center;
}

header > div > div > div {
    width: 2px;
    height: 20px;
    background-color: #333;
    margin: 0 10px;
}

header > div > div > a {
    font-size: 18px;
    font-weight: bold;
}

header > div > div > a:hover {
    text-decoration: underline;
}

header > div > .user {
    height: 30px;
    padding: 0px 15px;
    font-size: 18px;
    border: 1.5px solid #333;
}


/* main */

main {
    position: relative;
    padding: 200px 0 100px;
}

main > .container {  /* container */
    width: 1000px;
    min-height: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #eee;
    overflow: hidden;
    margin: 0 auto;
}

main > .container .box {  /* box-structure */
    width: 100%;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1.5px solid #ddd;
}

main > .container .box > li {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    border-right: 1.5px solid #ddd;
}

main > .container .box > li:nth-child(1) {
    width: 20%;
}

main > .container .box > li:nth-child(2) {
    width: 60%;
}

main > .container .box > li:last-child {
    width: 20%;
    border: 0px;
}

main > .container > .box > li {  /* title-font */
    font-size: 17px;
    font-weight: bold;
}

main > .container > #box_problems > .box {  /* problem-box */
    cursor: pointer;
}

main > .container > #box_problems > .box:nth-child(odd) {
    background-color: #f8fafe;
}

#btn_create_problem {
    position: absolute;
    width: 50px;
    bottom: 100px;
    right: 150px;
    cursor: pointer;
}


/* footer */

footer {
    height: 180px;
    background-color: #333;
}


/* signup, login - page */

.sign {   /* structure */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f8fbff;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.sign > form {
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;
}

.sign > form > h1 {
    font-family: "logo";
    color: #2957ff;
    font-size: 35px;
    letter-spacing: -3px;
}

.sign > form > h1 > span {
    color: #2957ff;
    font-size: 45px;
}

.sign > form > input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 18px;
}

.sign > form > div {
    display: flex;
    align-items: center;
    height: 16px;
}

.sign > form > div > div {
    width: 1px;
    height: 100%;
    background-color: #333;
    margin: 0 10px;
}

.sign > form > div > a:hover {
    text-decoration: underline;
}

.sign > form > button {
    all: unset;
    width: 80%;
    height: 50px;
    text-align: center;
    background-color: #2957ff;
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

#signup_page > form {   /* sign_up */
    width: 500px;
    height: 500px;
    margin: 200px auto;
}

#login_page > form {   /* login */
    width: 500px;
    height: 425px;
    margin: 250px auto;
}

/* create_problem */

#create_problem {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f8fbff;
    top: 0;
    overflow: auto;
}

#create_problem > img {
    position: absolute;
    width: 60px;
    cursor: pointer;
    top: 50px;
    left: 50px;
}

#create_problem > form {
    position: relative;
    width: 1100px;
    min-height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
    margin: 50px auto;
    padding: 20px 30px;
}

#create_problem > form {
    position: relative;
    width: 1100px;
    min-height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
    margin: 50px auto;
    padding: 10px 30px;
}

#create_problem > form textarea {
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    overflow: hidden;
}

#create_problem > form > div {
    margin: 20px 0;
}

#create_problem > form > div > h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

#create_problem > form > div > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#create_problem > form > div > div > textarea {
    width: 49%;
    min-height: 70px;
}

#create_problem > form > .title > textarea {
    width: 100%;
    height: 45px;
}

#create_problem > form > .explain > textarea {
    width: 100%;
    min-height: 145px;
}

#create_problem > form > button {
    all: unset;
    position: absolute;
    bottom: 0;
    right: -225px;
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: #2957ff;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


/* problem_page */

#problem_page {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f8fbff;
    /* display: none; */
}

#problem_page > img {
    position: absolute;
    width: 60px;
    cursor: pointer;
    top: 50px;
    left: 50px;
}

#problem_page > .container {
    width: 1100px;
    min-height: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#problem_page > .container > .tab_menu {
    height: 60px;
    display: flex;
    background-color: #eee;
}

#problem_page > .container > .tab_menu > .tab {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#problem_page > .container > .content {
    flex-grow: 1;
    overflow: auto;
    /* display: none; */
}

#problem_page > .container > .problem {
    display: none;
}

#problem_page > .container > form {
    padding: 20px 30px;
}

#problem_page > .container > form > h3 {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

#problem_page > .container > .tab_menu > .on {
    background-color: #fff;
}

#problem_page > .container > .active {
    display: block;
}